<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.academy.mapper.InqueryMapper">
	<select id="getList" resultType="org.academy.domain.InqueryVO">
	<![CDATA[
	select * from online_inquery where oi_code > 0
	]]>
	</select>
	<!-- 
	<insert id="insert">
		insert online_inquery (ol_code, branch_code, course_code, class_code, stu_id, name, contact_detail, title, content)
		values(seq_oi.nextval,#{branch_code}, #{course_code}, #{class_code}, 
		#{stu_id}, #{name}, #{contact_detail}, #{title}, #{content})
	</insert>  -->
	
	
	<insert id="insertSelectKey">
		
		<selectKey keyProperty="oi_code" order="BEFORE"
			resultType="String">
			select seq_oi.nextval from dual	
		</selectKey> 
		
		insert into online_inquery (oi_code, course_code, title, stu_id, name,contact_detail, content, oi_status, enter, updatedate)
		values(#{oi_code},#{course_code}, #{title}, #{stu_id}, #{name}, #{contact_detail}, #{content} , 'Y', sysdate, sysdate)
	</insert>

</mapper>